body{
    overflow: hidden;
    background-color: coral;
}
.container{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    border: 1px solid black;
    width: 370px;
    margin: auto;
    border-radius: 2px;
    /* background: rgb(248, 239, 239); */
background-color: yellowgreen;

    padding: 15px 15px 20px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}
#userinput{
    box-sizing: border-box;
    width: 100px;
    padding: 40px 5px;
    background: whitesmoke;
    text-align: right;
    direction: 1tr;
    outline: none;
    border: none;
}
.btn{
    width: 24%;
    height: 45px;
    border-radius: 1px;
    outline: none;
    margin-top: 3px;
    border: none;
    font-size: larger;
    background: whitesmoke;
}
.btnequal{
    width: 99.2%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: whitesmoke;
}
